{% load static %}
<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>全球生鲜卖家管理后台</title>

    <link rel="stylesheet" href="{% static 'seller/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'seller/css/xadmin.css' %}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'seller/lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'seller/js/xadmin.js' %}"></script>

  </head>
  
  <body class="layui-anim layui-anim-up">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">商品管理</a>
        <a href="">商品列表</a>
      </span>
    </div>
    <div class="x-body">
      <table class="layui-table">
        <thead>
          <tr>
		    <th>商品编号</th>
            <th>商品名称</th>
            <th>商品原价</th>
            <th>商品现价</th>
            <th>商品库存</th>
            <th>商品描述</th>
{#			<th>发布时间</th>#}
            <th>商品内容</th>
            <th>修改</th>
			</tr>
        </thead>
        <tbody>
        {% for goods in goodsList %}
          <tr>
            <td>{{ goods.goods_id }}</td>
            <td><a href="/seller/onegoods/{{ goods.id }}/">{{ goods.goods_name }}</a></td>
            <td>{{ goods.goods_price }}</td>
            <td>{{ goods.goods_now_price }}</td>
            <td>{{ goods.goods_num }}</td>
            <td>{{ goods.goods_description }}</td>
			<td>{{ goods.goods_content }}</td>
{#			<td>{{ goods.goods_show_time }}</td>#}
            <td >
				<a href="/seller/goods_change/{{ goods.goods_id }}/">编辑</a> <a href="/seller/goods_del/{{ goods.goods_id }}/">删除</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      
      </table>

    </div>
      {% for page in p_range %}
          <div style="margin-left: 20px;float: left">
              <a href="/seller/goods_list/{{ page }}">{{ page }}</a>
          </div>
      {% endfor %}
  </body>

</html>